function() {    
  var env = karate.env; // get system property 'karate.env'
  karate.log('karate.env system property was:', env);
  if (!env) {
    env = 'dev';
  }
  var config = {
    env: env,
    BaseURL: 'https://iam-ws.u.washington.edu/group_sws/v3',
    BaseGroup: 'uw_iam_gws-test_',
    CertificateNode:
    {
        "type": "dns",
        "id": "group-test.cac.washington.edu",
        "name": "group-test.cac.washington.edu"
    },
    AdminNetidUser: {
        "type": "uwnetid",
        "id": "mattjm",
        "name": "Matt MacAdam"
    }
  }
  if (env == 'dev') {
    // customize
    // e.g. config.foo = 'bar';
  } else if (env == 'e2e') {
    // customize
  }


  var certConfig = {
      keyStore: 'classpath:group-test.pfx',
      keyStorePassword: 'secret',
      keyStoreType: 'pkcs12',
      trustAll: 'true'};

  karate.configure('ssl', certConfig);


  return config;
}